= f.input :date, as: :string, input_html: { value: Date.today }
= f.input :count, as: :integer
= f.association :work_equipments, label_method: :work_equipment_type, collection: WorkEquipment.all.order(:work_equipment_type), include_blank: false, include_hidden: false
