= f.input :date, as: :string, input_html: { value: Date.today }
= f.input :count, as: :integer
= f.collection_select :work_equipment_id, WorkEquipment.all.order(:work_equipment_type), :id, :work_equipment_type
